.apexcharts-tooltip {
    flex-direction: row !important;
}

.apexcharts-tooltip-title {
    background-color: #fff !important;
}

.spin-dots,
.spin-dots:before,
.spin-dots:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: StartSpinDots 1.8s infinite ease-in-out;
}

.spin-dots {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.spin-dots:before,
.spin-dots:after {
    content: '';
    position: absolute;
    top: 0;
}

.spin-dots:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.spin-dots:after {
    left: 3.5em;
}

@keyframes StartSpinDots {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.spin-lines {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: #FFF;
    box-sizing: border-box;
    animation: StartSpinLines 0.3s 0.3s linear infinite alternate;
}

.spin-lines::after,
.spin-lines::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: StartSpinLines 0.3s 0.45s linear infinite alternate;
}

.spin-lines::before {
    left: -20px;
    animation-delay: 0s;
}

@keyframes StartSpinLines {
    0% {
        height: 48px
    }

    100% {
        height: 4px
    }
}