@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Hind+Siliguri&display=swap');

html,
body {
	font-family: 'IBM Plex Sans', sans-serif;
}

html.light {
	background-color: rgb(247, 250, 252);
}

html.dark {
	background-color: #1a202c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Hind Siliguri', sans-serif;
	letter-spacing: 0.025em;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.btn {
		@apply px-6 py-2 rounded-full border;
	}
	.btn-primary-filled {
		@apply hover:bg-blue-600 border-primary bg-primary text-white;
	}

	.btn-primary-bordered {
		@apply hover:bg-blue-600 hover:text-white border-primary text-primary;
	}

	.section {
		@apply my-20;
	}
}

body .scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 20px;
}

body .scrollbar::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #f9fafb;
}

body .scrollbar::-webkit-scrollbar-thumb {
	background: #d1d5db;
	border-radius: 100vh;
	border: none;
}

body .scrollbar::-webkit-scrollbar-thumb:hover {
	background: #9ca3af;
}
