@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Sansita&display=swap');

html,
body {
	font-family: 'Golos Text', sans-serif;
}

html.light {
	background-color: rgb(247, 250, 252);
}

html.dark {
	background-color: #1a202c;
}

@media (max-width: 575.98px) {
	.xs-text-2xl {
		font-size: 2.7rem !important;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.heading {
		font-family: 'Sansita', sans-serif;
		@apply tracking-wide;
	}

	.btn {
		@apply px-6 py-2 rounded-full border;
	}

	.btn-primary-filled {
		@apply hover:bg-blue-600 border-primary bg-primary text-white;
	}

	.btn-primary-bordered {
		@apply hover:bg-blue-600 hover:text-white border-primary text-primary;
	}
}

body .scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 20px;
}

body .scrollbar::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #f9fafb;
}

body .scrollbar::-webkit-scrollbar-thumb {
	background: #d1d5db;
	border-radius: 100vh;
	border: none;
}

body .scrollbar::-webkit-scrollbar-thumb:hover {
	background: #9ca3af;
}

